body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 1em 0;
}

main {
  margin: 2em;
  text-align: center;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 0.5em 0;
}
